*.pt
*.zip
*.npy
*.dat*
*.pth
*_vtoonify_d_*.jpg
*_vtoonify_t_*.jpg
*__pycache__*

data/*/images/*/*.jpg
log/*/*.jpg
output/*vtoonify_*.jpg
output/isekai/*
*.mdb
output/*.mp4
*.psd
output/*_vtoonify_d.jpg
output/*/*.jpg

